################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Report.Tutorial
/Northwind.Report/bin/Debug
